<div class="jumbotron center">
<h3> Log in as a Brand | Log in as a Shopper </h3>
<%= link_to 'Brand', new_brand_session_path, class: "btn btn-danger" %>
<%= link_to 'Shopper', new_user_session_path, class: "btn btn-primary" %>
<br>
<br>
<br>
<p>No account yet? <%= link_to 'Sign up', signup_path %></p>
</div>
