// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#brand_pics_section {

}

#articles {
  margin: 0 auto;
}

.box {
  margin: 10px;
  width: 255px;
  height: 255px;

}

.box img {
  width: 100%;
}
