#brand_post_section {
  display: none;
}

#posts {
  margin: 0 auto;
}

.postbox {
  width: 300px;
  margin: 10px;
}

.postbox img {
  width: 100%;
}

.panel-header {
  padding: 10px;
}

.panel-header img{
 border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid pink;
}
